.contactSection {
    width: 100%;
    min-height: calc(100vh + 5rem);
    height: auto;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactContent {
    width: 100%;
    max-width: 1900px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contactSectionHeader {
    width: 100%;
    height: 5rem;
    text-align: center;
}

.contactTitle {
    font-size: 3rem;
    color: var(--primary);
    margin-top: 5rem;
}

.contactText {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-top: 1rem;
}

.contactFormBox {
    margin-top: 7rem;
    width: 100%;
    height: calc(100% - 14rem);
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.contactForm {
    width: 50%;
    max-width: 30rem;
    height: calc(100% - 4rem);
    padding: 2rem;
    background-color: var(--background-light);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.inputField {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: .3rem;
}

input {
    height: 2.3rem;
    border-radius: 8px;
    border: 1px solid #cecece;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    padding: 0 .5rem;
}

.requiredStar {
    color: var(--primary);
}

textarea {
    resize: none;
    height: 3.5rem;
    border: 1px solid #cecece;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    padding: .5rem;
}

.privacyText {
    font-size: .8rem;
}

.submitButton {
    background-color: var(--accent);
    color: var(--text-white);
    padding: 16px 0;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    width: 50%;
}

.submitButton:hover {
    cursor: pointer;
    transition: .3s ease-in-out;
    background-color: var(--accent-dark);
}

.bookingBox {
    width: 15rem;
    height: 25rem !important;
    padding: 2rem;
    height: calc(100% - 4rem);
    background-color: var(--primary);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bookingContent {
    width: 90%;
    height: 96%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.bookingHeadline {
    color: var(--text-white);
    text-align: center;
    font-size: 2rem;
    line-height: 2rem;
}

.bookingQRCode {
    width: 80%;
}

.bookingButton {
    background-color: var(--accent);
    color: var(--text-white);
    padding: 16px 0;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    width: 100%;
}

.bookingButton:hover {
    cursor: pointer;
    transition: .3s ease-in-out;
    background-color: var(--accent-dark);
}

@media screen and (max-width: 850px) {
    .contactContent {
        align-items: center;
    }
    
    .contactFormBox {
        margin-top: 12rem;
        width: 90%;
        flex-direction: column;
        align-items: center;
    }

    .contactForm {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .contactFormBox {
        margin-top: 13rem;
    }
    
    .contactForm {
        width: 80%;
    }

    .bookingBox {
        height: auto !important;
    }

    .bookingContent {
        gap: 2rem !important;
    }

    .bookingQRCode { display: none;}

    textarea {
        height: 8rem;
    }
}