.timelineSection {
    width: 100%;
    height: auto;   
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--section-padding); 
}

.timelineContent {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 3rem 0;
}

.timelineSliderBox {
    width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.timelineHeadline {
    font-size: var(--headline-font-size);
    color: var(--primary);
    text-align: center;
    margin-bottom: 1rem;
}

.timelineSwiper {
    width: 98%;
    margin: auto;
    height: auto;
    margin-top: 3rem;
}

.timelineSlide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slideHeadline {
    margin: auto;
    font-size: 1.5rem;
    width: 80%;
    text-align: center;
}

.slideText {
    margin-top: 2rem !important;
    margin: auto;
    font-size: var(--normal-text-size);
    line-height: 1.5rem;
    width: 80%;
    text-align: center;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--primary) !important;
}

.reglerBox {
    width: 60%;
    height: 4rem;
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.bigLine {
    position: relative;
    width: .4rem;
    height: 3rem;
    background-color: var(--primary);
}

.bigLine:hover {
    transition: .3s ease-in-out;
    width: .5rem;
    height: 4rem;
}

.bigLine[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 125%; /* über dem Element */
  left: 50%;
  transform: translateX(-50%);
  background: #222;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 10;
}

.bigLine[data-tooltip]::before {
  content: "";
  position: absolute;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  border: 5px solid transparent;
  border-top-color: #222;
  opacity: 0;
  transition: opacity 0.2s ease;
  z-index: 10;
}

.bigLine:hover::after,
.bigLine:hover::before {
  opacity: 1;
}

.smallLine {
    width: .3rem;
    height: 1.5rem;
    background-color: #cecece;
}

@media screen and (max-width: 1000px) {
    .timelineSection {
        height: auto;
    }

    .timelineSidebar {
        display: none;
    }

    .timelineSliderBox {
        width: 100%;
    }

    .timelineHeadline {
        text-align: center;
        margin-left: 0;
    }

    .timelineSwiper {
        margin-top: 2rem;
    }
}