.timelineSection {
    width: 100%;
    height: auto;   
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--section-padding); 
}

.timelineContent {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 3rem 0;
}

.timelineSliderBox {
    width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.timelineHeadline {
    font-size: var(--headline-font-size);
    color: var(--primary);
    text-align: center;
    margin-bottom: 1rem;
}

.timelineSwiper {
    width: 98%;
    margin: auto;
    height: auto;
}

.timelineSlide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slideHeadline {
    margin: auto;
    font-size: 1.5rem;
    width: 80%;
    text-align: center;
}

.slideText {
    margin-top: 2rem !important;
    margin: auto;
    font-size: var(--normal-text-size);
    line-height: 1.5rem;
    width: 80%;
    text-align: center;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--primary) !important;
}

@media screen and (max-width: 1000px) {
    .timelineSection {
        height: auto;
    }

    .timelineSidebar {
        display: none;
    }

    .timelineSliderBox {
        width: 100%;
    }

    .timelineHeadline {
        text-align: center;
        margin-left: 0;
    }

    .timelineSwiper {
        margin-top: 2rem;
    }
}