.mainContent {
    width: 100vw;
    height: 100vh;
}

.heroSection {
    width: 100%;
    height: calc(100vh - 4rem);
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}