.heroSection {
    width: 100%;
    height: calc(100vh - 4rem);
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroLeftSide {
    height: 100%;
    width: 20%;
}

.heroRightSide {
    height: 100%;
    width: 80%;
    background-image: url("../../../../assets/dach_schwarz.png");
    background-size: cover;
}

.heroBox {
    position: sticky;
    top: calc(15vh + 1rem);
    margin-left: 4rem;
    width: 40rem;
    height: 70vh;
    background-color: var(--primary);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    border-radius: 8px;
}

.heroHeadline {
    margin-left: 2rem;
    font-size: var(--headline-font-size);
    color: var(--text-white);
}

.heroText {
    margin-left: 2rem;
    color: var(--text-white);
    font-size: var(--normal-text-size);
    width: 85%;
    line-height: 1.3rem;
}

.ctaButton {
    margin-left: 2rem;
    width: 15rem;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    background-color: var(--accent);
    color: var(--text-white);
    font-size: 1rem;
}

.ctaButton:hover {
    transition: .3s ease-in-out;
    background-color: var(--accent-dark);
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    .heroBox {
        width: calc(100vw - 5rem);
        margin-left: 1rem;
    }

    .heroText {
        width: 95%;
    }

    .ctaButton {
        padding: .9rem;
        font-size: .9rem;
        width: 10rem;
    }
}

@media screen and (max-width: 450px) {
    .heroSection {
        flex-direction: column;
    }

    .heroLeftSide {
        height: 15%;
        width: 100%;
    }

    .heroBox {
        margin-top: 3rem !important;
        height: 60vh !important;
        background-size: cover;
    }

    .heroHeadline {
        font-size: 2.5rem;
    }

    .heroRightSide {
        height: 85%;
        width: 100%;
    }
}