.faqSection {
    padding: 5rem 0;
    width: 100%;
    min-height: 90vh;
    height: auto;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.faqContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.faqTitle {
    font-size: 3rem;
    color: var(--text-white);
    text-align: center;
}

.faqList {
    margin-top: 1rem;
}