@import url('https://fonts.googleapis.com/css2?family=Candal&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
  margin: 0;
  padding: 0;
}

:root {
  --background: #F2F2F2;
  --background-light: #ffffff;
  --background-reverse: #121212;

  --primary: #CF0D0D;
  --primary-dark: #b50b0b;
  --primary-light: #ff4444;
  --accent: #333333;
  --accent-dark: #2a2a2a;
  --accent-light: #3b3b3b;
  --title-color: #CF0D0D;
  --link-color:rgb(231, 79, 79);
  
  --text-color: #121212;
  --text-white: #ffffff;
  --text-color-reverse: #ffffff;

  --headline-font-size: 2.5rem;
  --small-text-size: .8rem;
  --normal-text-size: 1rem;
  --big-text-size: 1.4rem;
  --button-text-size: 1rem;
  --section-padding: 7rem;
}


/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #F2F2F2;
    --background-reverse: #121212;
  
    --text-color: #121212;
    --text-color-reverse: #ffffff;
  }
}*/

body {
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Candal", sans-serif;
}

p, a, label, button {
  font-family: "Montserrat", sans-serif;
}